@model List<WebApplication11.Models.Animal>
@{
    ViewBag.Title = "Hayvan Oyunu";
}

<h2>Hayvanı Bul: @ViewBag.CurrentAnimalName</h2>

<div id="game-area">
    @foreach (var animal in Model)
    {
        <img src="@animal.ImageUrl" alt="@animal.Name" data-id="@animal.Id" class="animal-img" />
    }
</div>

<div>
    <p>Yanlış Denemeler: @ViewBag.WrongAttempts</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!
@section Scripts {
    <script>
        $(document).ready(function() {
            $(".animal-img").click(function() {
                var animalId = $(this).data("id");

                // Ajax POST ile CheckAnswer action metodunu çağır
                $.post("/Game/CheckAnswer", { id: animalId }, function(response) {
                    // Hayvan doğru tahmin edilirse oyun alanını güncelle
                    $("#game-area").html(response);
                });
            });
        });
    </script>
}



<style>

     .animal-images {
         display: flex;
         flex-wrap: wrap;
     }

     .animal-item {
         margin: 10px;
     }

     .animal-item img {
          width: 100px;
          height: 100px;
          cursor: pointer;
         transition: transform 0.2s;
     }

     .animal-item img:hover {
        transform: scale(1.1);
     }


</style>